<section id="faq" class="osection">
    <div class="container-fluid">
        <h1>Frequently Asked Questions</h1>
        <p>
            <question>Q: What if they just make my project proprietary and sell it without much changes?</question>
            <answer>A: Your project is still free why should anyone pay money for something which is free?</answer>
        </p>
        <p>
            <question>Q: I don't want others to close my code!</question>
            <answer>
                A: They can’t, your code still is open source. What did they close then? THEIR work
                which just happens to be based on your open source code. It’s their right to license
                their code in any way.
            </answer>
        </p>
        <p>
            <question>Q: What is if they write a wrapper around my lib and sell it for $10.000?</question>
            <answer>
                A: Yes that could happen but it’s also a rather unlikely scenario. If all they’ve done
                is a thin wrapper then you or someone else in the open source community is also capable
                of making such a thin wrapper in no time. Then all you need do is undercut them
                by $10.000 and a good chunk of freedom.<br/>
                <br/>
                The more likely scenario is that a company takes your code and produces a large amount
                of other code that just happens to use your lib at its core. The said company will sell
                their code and their extensions for a large sum of money and they are perfectly entitled
                to do so. It’s after all THEIR code.<br/>
                <br/>
                Even this scenario is beneticial to you. Said company will likely find bugs and fix them.
            </answer>
        </p>
        <p>
            <question>Q: Isn't this a bit too extreme? This site and all? GPL is cool, please don't hate it</question>
            <answer>
                A: Yes, it's a bit extreme but that is intentional :). Some GPL Fans like Richard
                Stallman always <a href="http://news.slashdot.org/story/14/01/24/1838241/fsfs-richard-stallman-calls-llvm-a-terrible-setback">
                have very extreme opinions</a>. If you don't like it, you don't need to read it.
            </answer>
        </p>
        <p>
            <question>Q: I HATE YOU, I HATE THIS, I'LL NOW MAKE MY OWN OCCUPY MIT/BSD/etc SITE!</question>
            <answer>
                A: Cool. Feel free to <a href="https://github.com/kasoki/occupygpl.org">fork this
                page</a> and even relicense it to GPL if you want to. It's MIT licensed after all.
            </answer>
        </p>
    </div>
</section>
