<section id="jointhefight" class="osection">
    <div class="container-fluid">
        <h1>Join the Fight!</h1>
        <p>
            Here are a few ways you can help rid the world of the GPL
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Lorem ipsum!</h2>
        <p>
            Lorem ipsum?
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Spread the Word!</h2>
        <p>
            Let people know about this site:
        </p>
        <div class="share-button-container">
            <div class="share-button">
                {% include twitter_button.html %}
            </div>
            <div class="share-button">
                {% include gplus_button.html %}
            </div>
            <div class="share-button share-button-facebook">
                {% include facebook_button.html %}
            </div>
            <div class="clear"></div>
        </div>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Prefer open source projects with a liberal license!</h2>
        <p>
            Lorem ipsum dolor sit amet!
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>(Re-)License your projects with a liberal license!</h2>
        <p>
            Lorem ipsum dolor sit amet!
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Contact maintainer!</h2>
        <p>
            Lorem ipsum dolor sit amet!
        </p>
    </div>
</section>
