<section id="jointhefight" class="osection">
    <div class="container-fluid">
        <h1>Join the Fight!</h1>
        <p>
            Here are a few ways you can help rid the world of the GPL
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Spread the Word!</h2>
        <p>
            Let people know about this site:
        </p>
        <div class="share-button-container">
            <div class="share-button">
                {% include twitter_button.html %}
            </div>
            <div class="share-button">
                {% include gplus_button.html %}
            </div>
            <div class="share-button share-button-facebook">
                {% include facebook_button.html %}
            </div>
            <div class="clear"></div>
        </div>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Prefer projects using a permissive license!</h2>
        <p>
            Don't use a library or component that is GPL licensed or a lot of people won't be able to use your project!
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>(Re-)License your projects using a permissive license!</h2>
        <p>
            License your projects using a permissive license like the MIT, BSD or zlib license.
            If you have existing GPL projects think about relicensing them. Please be aware that the other
            contributors also need to agree to the relicensing.
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Let projects know you don't want to use the GPL anymore!</h2>
        <p>
            You want to use a project but it's GPL licensed? Try to open an issue or contact a maintainer
            about a possible license change.
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Help new open source developer understand why the GPL is bad!</h2>
        <p>
            A lot of young open source developers are using the GPL as their open source license without
            even knowing the consequences. Help them understand in which way the GPL may restrict others
            and tell them about permissive licenses such as the MIT, BSD or zlib license.
        </p>
    </div>
</section>
