<section id="licenses" class="osection">
    <div class="container-fluid">
        <h1>Permissive Licenses</h1>

        <p>
            Some popular Permissive licenses.
        </p>

        <p>
            <h3>MIT License</h3>
            <desc>A permissive license that is short and to the point. It lets people do anything with your code with proper attribution and without warranty.</desc>
            <a href="http://opensource.org/licenses/MIT">License</a> | <a href="https://tldrlegal.com/license/mit-license">TLDR; Legal</a>
        </p>

        <p>
            <h3>BSD 2-Clause License</h3>
            <desc>A permissive license lets people do anything with your code with proper attribution and without warranty.</desc>
            <a href="http://opensource.org/licenses/BSD-2-Clause">License</a> | <a href="https://tldrlegal.com/license/bsd-2-clause-license-(freebsd)">TLDR; Legal</a>
        </p>

        <p>
            <h3>BSD 3-Clause License</h3>
            <desc>A permissive license lets people do anything with your code with proper attribution and without warranty. With a Trademark clause.</desc>
            <a href="http://opensource.org/licenses/BSD-3-Clause">License</a> | <a href="https://tldrlegal.com/license/bsd-3-clause-license-(revised)">TLDR; Legal</a>
        </p>

        <p>
            <h3>ISC License</h3>
            <desc>The ISC license is functionally equivalent to the BSD 2-Clause and MIT licenses, removing some language that is no longer necessary.</desc>
            <a href="http://opensource.org/licenses/ISC">License</a> | <a href="https://tldrlegal.com/license/-isc-license">TLDR; Legal</a>
        </p>

        <p>
            <h3>Apache v2</h3>
            <desc>A permissive license that also provides an express grant of patent rights from contributors to users.</desc>
            <a href="http://opensource.org/licenses/Apache-2.0">License</a> | <a href="https://tldrlegal.com/license/-isc-license">TLDR; Legal</a>
        </p>
    </div>
</section>
