<section id="resources" class="osection">
    <div class="content">
        <h1>Resources</h1>

        Interesting resources.

        <ul>
            <li><a href="http://www.kaybee.org/~kirk/GPL.html">"Why I don't use the GPL" - Kirk Bauer</a></li>
            <li><a href="https://noordering.wordpress.com/2009/01/20/why-the-gpl-is-not-free">"Why the GPL is not free" - beelsebob</a></li>
            <li><a href="https://www.youtube.com/watch?v=Pm8P4oCIY3g">"Corporate Open Source Anti-patterns" - Bryan Cantrill</a></li>
        </ul>
    </div>
</section>
