<!doctype html>
<title>Occupy GPL! - {{ site.slogan }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="description" content="lorem ipsum dolor sit amet">
<meta property="og:title" content="Occupy GPL">
<meta property="og:description" content="{{ site.slogan }}">
<meta property="og:url" content="http://occupygpl.org/" />

<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/journal.min.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />


{% include navbar.html %}

<div id="mission" class="jumbotron">
    <div class="container-fluid head">
        <img class="img-responsive" src="img/logo.png" />
        <h3>{{ site.slogan }}</h3>
        <!-- TODO: readd me
        <a href="{{ page.baseurl }}">English</a> | <a href="{{ page.baseurl }}/de">Deutsch</a>
        -->
    </div>
</div>

{% include manifesto.html %}
{% include jointhefight.html %}
{% include footer.html %}

<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

{% include analytics.html %}
