<!doctype html>
<title>Occupy GPL! - {{ site.slogan }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="description" content="lorem ipsum dolor sit amet">
<meta property="og:title" content="Occupy GPL">
<meta property="og:description" content="{{ site.slogan }}">
<meta property="og:url" content="http://occupygpl.org/" />

<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/journal.min.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />


<div class="occupynavbar navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">Occupy GPL!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#mission">Mission</a></li>
                <li><a href="#manifesto">Manifesto</a></li>
                <li><a href="#jointhefight">Join the Fight!</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="mission" class="jumbotron">
    <div class="container head">
        <img class="img-responsive" src="img/logo.png" />
        <h3>{{ site.slogan }}</h3>
        <a href="{{ page.baseurl }}">English</a> | <a href="{{ page.baseurl }}/de">Deutsch</a>
    </div>
</div>

<section id="manifesto" class="osection">
    <div class="container">
        <h1>The Manifesto</h1>
    </div>
</section>

<section id="jointhefight" class="osection">
    <div class="container">
        <h1>Join the Fight!</h1>
    </div>
</section>


<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
